body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #00b4d0;
}

.container {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc((100% - 800px) / 2);
}

.left-column {
  display: inline-block;
  width: 40%;
  float: left;
  padding: 40px;
  background-color: yellow;
  color: #fff;
}

.main-title {
}

.bottom-links {

}

.bottom-links > a {
  color: #fff;
}

.bottom-links > span {
}

.right-column {
  display: inline-block;
  width: 60%;
  padding: 60px;
  float: left;
  background-color: #fff;
  
 
}

.close {
}

.form {
  display: inline-block;
  width: 100%;

}
.form-row {
  display: inline-block;
  width: 100%;
  

}
.form-row + .form-row {
  margin-top: 40px;
}
label {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #C7C7C7;

}

input {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #C7C7C7;

}